.container{
  .max-width{
    max-width: 600px;
    margin: auto;
  }

  .search{
    width: 100%;
    position: relative;
    display: flex;
    border-radius: 5px;
    box-shadow: -1px 0px 6px 0px rgba(76, 76, 78, 0.36);
    margin: 50px 0;
    .searchTerm {
      width: 100%;
      border: none;
      border-right: none;
      padding: 10px;
      outline: none;
      color: #000;
      font-size: 14px;
      font-weight: 400;
    }
    .searchButton {
      border: none;
      background: transparent;
      cursor: pointer;
      padding: 13px 20px 10px;
    }
  }

  .loading-container{
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/images/cloud.svg");

    .spinner {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      border: 5px solid #ffffff;
      animation: spinner-bulqg1 0.8s infinite linear alternate,
      spinner-oaa3wk 1.6s infinite linear;
   }

   @keyframes spinner-bulqg1 {
      0% {
         clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
      }

      12.5% {
         clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
      }

      25% {
         clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
      }

      50% {
         clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
      }

      62.5% {
         clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
      }

      75% {
         clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
      }

      100% {
         clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
      }
   }

   @keyframes spinner-oaa3wk {
      0% {
         transform: scaleY(1) rotate(0deg);
      }

      49.99% {
         transform: scaleY(1) rotate(135deg);
      }

      50% {
         transform: scaleY(-1) rotate(0deg);
      }

      100% {
         transform: scaleY(-1) rotate(-135deg);
      }
   }
  }

  .warning-main{
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(215 140 3 / 79%);
    .warning-container{
      display: flex;
      flex-direction: column;
      gap: 10px;
      cursor: pointer;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      color: white;
    }
  }

  .current-weather{
    background-image: url("../assets/images/cloud.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    h1{
      font-size: 48px;
      font-weight: 600;
      color: #fff;
      margin: 0;
    }
    h2{
      font-size: 32px;
      font-weight: 400;
      color: #fff;
      margin: 0;
    }
  }

  .forecast-list-section{
    margin-top: 50px;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: -1px 0px 10px 1px rgba(76, 76, 78, 0.36);
        padding: 10px 20px;
        border-radius: 15px;
        gap: 20px;
        margin-bottom: 20px;
        .date{
          font-weight: 600;
        }
        .icon-section{
          display: flex;
          align-items: center;
          max-width: 120px;
          p{
            text-transform: capitalize;
          }
        }
        p{
          font-size: 18px;
          font-weight: 400;
          color: #000;
        }
      }
    }
  }
}

